<ion-view title="Addresses">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="addNewAddress()">
        <i class="icon ion-ios-plus"></i>
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header has-subheader bar-light">
        <ion-list>
            <ion-item class="item item-icon-right" ui-sref="app.address">
                Address 1
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right">
                Address 2
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right">
                Address 3
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right">
                Address 4
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>



