<ion-view title="Cart">
    <ion-header-bar class="bar-subheader bar-dark">

      <button class="button" ui-sref="app.foods({restaurantId: resId})">
          Add More
      </button>
        <h1 class="title">Grand Total: ${{grandTotal | number:2}}</h1>
          <a class="button button-icon button-clear ion-android-delete" ng-click="showDeleteAlert()"></a>
    </ion-header-bar>
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-subheader" ng-class="emptyPage">
    <!-- <button class="button button-balanced button-block button-large icon ion-cash">{{defaultAdrs}}</button> -->
        <ion-list ng-if="!emptyCart" >
            <ion-item class="item" ng-repeat="food in foods">
                <h2>{{food.name}}</h2>
                <p>Size: {{food.size}}, Quantity: {{food.qty}}</p>
                <p>Price: ${{food.price}}</p>
                <p>Your Instruction: {{food.specialInstruction}}</p>
            </ion-item>
        </ion-list>
      <!--Empty cart section-->
        <button ng-if="!emptyCart" class="button button-assertive button-block button-large"
        ng-click="openDeliveryModal()">Next</button>

        <h4 class="text-center" ng-if="emptyCart">The Cart is Empty</h4>

    </ion-content>
</ion-view>
