<ion-modal-view>
    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">Delivery</h1>
        <a class="button button-icon button-clear ion-ios-cart" href="#/app/cart">${{cartTotal}}</a>
    </ion-header-bar>

    <ion-content class="padding">
    <div class="card list" ng-show='boolAddNewAddress'>
        <div class="item item-divider item-assertive">Add shipping address</div>
            <div class="item item-text-wrap">
                    <form name="myform">
                        <label class="item item-input">
                            <input type="text" ng-model="address.line1" placeholder="Address Line 1" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="address.line2" placeholder="Address Line 2" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="address.city" placeholder="City" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="address.state" placeholder="State" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" ng-model="address.zipcode" placeholder="Zip Code" required>
                        </label>
                         <label class="item item-input">
                            <input type="text" ng-model="address.phone" placeholder="Phone No" required>
                        </label>
                        <button class="button button-full button-positive" ng-disabled="myform.$invalid"ng-click="saveAddress(address)">
                      Save
                        </button>
                        <button class="button button-full button-assertive" ng-click="close()">
                          Cancel
                        </button>
                    </form>
            </div>
        </div>
        
        <div class="card" ng-show="showAddAddress">
            <div class="item item-divider item-assertive">Shipping address</div>
            <div class="item item-text-wrap">
                <h4>{{defaultAdrs.cus_name}}</h4>
                <p>{{defaultAdrs.addrs}}, State: {{defaultAdrs.state}}, Town: {{defaultAdrs.town}}, Zip: {{defaultAdrs.zip_code}}, Phone: {{defaultAdrs.phone}}, Country: {{defaultAdrs.country}}</p>
                <a class="button button-dark button-clear button-small right" ng-click="changeAddress($event)">Change shipping address</a>
                <a class="button button-dark button-clear button-small right" ng-click="addAddressDiv()">Add new address</a>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider item-assertive">Shipping type</div>
            <div class="item item-text-wrap">
            
            <ion-list>
              <ion-radio ng-model="deliveryType" ng-value="'pickup'" ng-click="setDeliveryCharge(0)">Pickup</ion-radio>
              <ion-radio ng-model="deliveryType" ng-value="'delivery'"ng-click="setDeliveryCharge(1)">Delivery</ion-radio>
            </ion-list>

            </div>
        </div>

        <div class="card">
        <div class="item item-text-wrap">
           <h2>Delivery Charge ${{deliveryCharge}}</h2>
           <br>
         </div> 
         <!-- ////////////////////// -->
         <div class="row">
                <div class="col-33">
                    <p class="verticle-center">Tips: ${{tipsPercent}}</p>
                </div>
                <div class="col-67">
                    <div class="button-bar">
                        <a class="button button-assertive" ng-click="setTipsPercent(-1)">-</a>  
                        <a class="button button-clear">{{tips}}%</a> 
                        <a class="button button-dark" ng-click="setTipsPercent(+1)">+</a>
                    </div>
                </div>
            </div>
         <!-- ///////////////////////   -->
         <button class="button button-assertive button-block button-large" 
        ng-click="checkout(.01,deliveryType,tips)" ng-disabled='disableCheckOut'>
        Checkout</button>
        <button class="button button-calm button-block button-large" ng-click="closeModal()">
        Cancel</button>
        </div>


    </ion-content>
</ion-modal-view>