<ion-view title="Forgot Password?">
  <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
      <div class="spacer" style="height: 100px;"></div>
      <h4 class="title" style="text-align:center;">Send SMS with new password</h4>
      <form class="list">
          <ion-list>

              <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input type="email" ng-model="data.email">
              </label>

          </ion-list>
          <button class="button button-assertive button-block button-large" ng-click="resetPassword()">Send</button>
      </form>
  </ion-content>




</ion-view>
