<ion-view title="Order History">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div ng-repeat="history in orderHistory">
        <div class="card">
        	<div class="item item-divider assertive">Order Number: {{history.order_no}}</div>
        	<div class="item item-text-wrap" >
                <h2>{{history.food_name}}</h2>
                <h3>Order Date and time: {{history.order_date_time}}</h3>
                <p>Size:{{size_name}}, Quantity: {{history.food_qty}}</p>
                <p>Total Price: {{history.food_price}}</p>
                <p>Total Price: {{history.price1}}</p>
                <p>Your Instruction: No instructions provided by you</p>
        	</div>
        </div>
      </div>
    </ion-content>
</ion-view>
