<ion-view title="Order History">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card">
        	<div class="item item-divider custom-item-divider">Order Number: 1001</div>
        	<div class="item item-text-wrap">
                <h2>Ceaser Salad</h2>
                <h4>Order Date: 24/01/2016</h4>
                <p>Size: REG, Quantity: 3</p>
                <p>Total Price: $17.97</p>
                <p>Your Instruction: No instructions provided by you</p>
        	</div>
        </div>
        <div class="card">
        	<div class="item item-divider custom-item-divider">Order Number: 1002</div>
        	<div class="item item-text-wrap">
                <h2>Ceaser Salad</h2>
                <h4>Order Date: 24/01/2016</h4>
                <p>Size: REG, Quantity: 3</p>
                <p>Total Price: $17.97</p>
                <p>Your Instruction: No instructions provided by you</p>
        	</div>
        </div>
        <div class="card">
        	<div class="item item-divider custom-item-divider">Order Number: 1003</div>
        	<div class="item item-text-wrap">
                <h2>Ceaser Salad</h2>
                <h4>Order Date: 24/01/2016</h4>
                <p>Size: REG, Quantity: 3</p>
                <p>Total Price: $17.97</p>
                <p>Your Instruction: No instructions provided by you</p>
        	</div>
        </div>
        <div class="card">
        	<div class="item item-divider custom-item-divider">Order Number: 1004</div>
        	<div class="item item-text-wrap">
                <h2>Ceaser Salad</h2>
                <h4>Order Date: 24/01/2016</h4>
                <p>Size: REG, Quantity: 3</p>
                <p>Total Price: $17.97</p>
                <p>Your Instruction: No instructions provided by you</p>
        	</div>
        </div>
    </ion-content>
</ion-view>