<ion-view title="Payment Infos">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="addNewCard()">
        <i class="icon ion-ios-plus"></i>
      </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list">
        	<label class="item item-divider">Card 1</label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="N. M. Ali Hayder">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Card Number</span>
                <input type="Number" placeholder="49004321178654567">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Expiration Date</span>
                <input type="date" placeholder="06/2025">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">CVV</span>
                <input type="number" placeholder="777">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Billing Zip</span>
                <input type="number" placeholder="1212">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Details</span>
                <input type="text" placeholder="here the details goes">
            </label>
        </div>
    </ion-content>
</ion-view>