<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="data.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="data.password">
                </label>
            </ion-list>
            <button class="button button-assertive button-block button-large" ng-click="signUp()">Sign up</button>
            <p class="text-center">Or</p>
            <button class="button button-positive button-block button-large">Sign up with Facebook</button>
        </form>
    </ion-content>
</ion-view>