<ion-view title="Foood 365">
    <ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab title="Search" icon="ion-search" href="#/app/tabs/search">
            <ion-nav-view name="search-tab"></ion-nav-view>
        </ion-tab>
<!--         <ion-tab title="Order" icon="ion-pizza" href="#/app/tabs/order">
            <ion-nav-view name="order-tab"></ion-nav-view>
        </ion-tab> -->
        <ion-tab title="Cart" icon="ion-ios-cart" href="#/app/tabs/cart">
            <ion-nav-view name="cart-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>