.bg-image{
	background-color: crimson !important;
}

.custom-item-divider{
  background-color: #387ef5 !important;
  color: white !important;
}

.scroll {
    height: 100%;
}

.search-card {
	margin: -11px -11px 10px -11px !important;
}

.search-input-box {
	background-color: white !important;
	border-radius: 3px;
}

.ion-search {
	color: white !important;
}

.ion-fork {
	color: white !important;
}

.ion-ios-settings {
	color: white !important;
}

.res-logo {
	border: 1px dashed #ef4e42;
	padding: 2px !important;
	border-radius: 3px;

}

.res-info-box {
	border-bottom: 2px dashed #ef4e42 !important; 
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
}

#menu-layer-two{
	margin-top: -12px;
	text-align: center;
	padding: 20px 0;
	color: white;
}

.bg{
	background: url("../img/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.main-menu{
	color: #FC516B;
}

.logo-image{
	text-align: center;
}

/* Logo Rotating */

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

img.savorLogo
{
	max-height: 100px;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.sort-title{
	margin-top: -25px;
	color: white !important;
	font-size: xx-small !important;
}

.sort-button{
	border-left: 2px solid #ef4e42 !important;
}

.restaurant-thumbnail {
	font-size: small;
}

.delivery-text {
	right: 100px;
}

.rating-badge{
	top: 58px !important;
    line-height: 10px !important;
    right: 18px !important;
}

.ratings-text{
    font-size: .5em !important;
    margin-top: 15px;
    margin-right: -4px;
}

.restaurent-food-page {
	border-bottom: none !important;
}


.right-section{
	float: right;
    margin-right: -22px;
    margin-top: -71px;
}

.heart-icon {
    font-size: 37px;
    margin-left: 6px;
}

.not-fav {
	color: #c5c5c5 !important;
}


.rating-badge-next-page{
	top: 58px !important;
    line-height: 10px !important;
    right: 18px !important;
}

.ratings-text-next-page{
    font-size: .5em !important;
    margin-right: 28px;
    margin-top: 15px;
}

.right-section-next-page{
	float: right;
    margin-right: -22px;
    margin-top: -71px;
}

.heart-icon-next-page {
    font-size: 37px;
    margin-left: 6px;
}

.ratings-text-favourite-page{
    font-size: .5em !important;
    margin-top: 34px;
    left: 12px !important;
}

.rating-badge-favourite-page{
	top: 38px !important;
    line-height: 10px !important;
    right: 18px !important;
}

#page-button3 {
    color: #f0ad4e !important;
}




.empty-fav {
    background-image: url("../img/icon.jpg");
    background-color: #fff;
    background-size: 45%;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-position: center; 

}








































