<ion-view title="Payment Infos">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="addNewCardModal()">
        <i class="icon ion-ios-plus"></i>
      </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
      <div class="item item-text-wrap">Select one to make payment. To add a new card press the + button at the top.</div>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header has-subheader" ng-class="emptyPage">
        <div style="height: 20px;"></div>
        <ion-list ng-repeat="card in cards">
            <ion-item class="item-icon-right" ng-click="selectThisCardForPayment(card)">
                <div class="item-text-wrap">
                    <h2>{{card.holder_name}}</h2>
                    <h4>Card Number: {{card.card_number}}</h4>
                    <h4>Expiration Date: {{card.expiration_date}}</h4>
                    <h4>cvv: {{card.cvv}}</h4>
                    <i class="icon ion-checkmark" ng-if="card.id == selectedCard"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
