<ion-view title="Restaurant">
    <ion-content overflow-scroll="true" padding="true" class="has-header" delegate-handle="content">

    	<ion-list>

            <ion-item class="item-thumbnail-left res-info-box restaurent-food-page">

                <img class="res-logo" ng-src="https://savor365.com/resource/reslogo_200x200/{{restaurant.res_logo}}">

                <h2 class="assertive">{{restaurant.res_name}}</h2>
                <ul class="restaurant-thumbnail">
                    <li>
                            <i class="icon ion-bag assertive delivery-text"></i> Delivery Fee : ${{restaurant.delivery_charged}}

                    </li>
                    <li>
                        <i class="icon ion-bag assertive"></i> Min Delivery : ${{restaurant.min_delivery_charge}}

                    </li>
                    <li><i class="icon ion-clock assertive"></i> Delivery Time :{{restaurant.delivery_time}} mins</li>
                </ul>

                <div class="right-section-next-page">
                    <a class="{{favClass}}" ng-click="makeFav(restaurant.res_id)"><i class="icon ion-ios-heart heart-icon-next-page"></i></a>
                    <p><span class="badge badge-assertive rating-badge-next-page">{{restaurant.rating_mark}}/5</span></p>
                    <p class="ratings-text-next-page">
                            ({{restaurant.rating_cus_number}} Ratings)
                    </p>
                </div>


                
            </ion-item>
            
            <ion-item class="res-info-box">
                <div class="button-bar">
                  <a class="button button-calm button-clear" ui-sref="app.moreInfo({restaurantId: restaurant.res_id})">More Info...</a>
                  <a class="button button-assertive button-clear" ng-click="menuPopover($event)">See Menu</a>
                </div>
            </ion-item>
        
            
            <div ng-repeat="menu in menus">

                <a class="item item-divider item-calm" id="menu-{{menu.id}}">
                    {{menu.menu_name}}
                </a>

                
                <ion-item class="item item-icon-left" ng-repeat="food in foods" ng-if="menu.id == food.menu_id" ng-click="orderModal(food)">
                    <i class="icon ion-ios-arrow-right calm"></i>
                    {{food.food_name}}
                </ion-item>
                
            </div>



        </ion-list>
    </ion-content>
</ion-view>