<ion-view cache-view="false" title="Search">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="list list-inset">
           
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input type="text" placeholder="Enter Your Zip Code" ng-model="zipcode">
                </label>
                <button class="button button-dark" ng-click="searchByZipCode(zipcode)">
                       <i class="icon ion-search placeholder-icon"></i>
                    </button> 
              </div>           
           
        </div>
        
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
     
</ion-view>