<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search by a restaurant name">
            </label>
            <button class="button button-block button-positive" ng-click="searchByLocation()">
                Search using your location
            </button>
        </div>
        <div id="map">
        </div>
    </ion-content>
</ion-view>